//font size
$font-size-Large: 22px;
$font-size-Medium: 18px;
$font-size-Small: 14px;
$trans-duration: 0.5s;
$border-radius: 5px;

@function buttonWidth($size) {
  $extra-small-width: 0.4;
  $base: 100px;
  $medium-width: 1.2;
  $large-width: 1.8;

  @if $size == "xs" {
    @return $base * $extra-small-width;
  }
  @if $size == "s" {
    @return $base;
  }
  @if $size == "m" {
    @return $base * $medium-width;
  }
  @if $size == "l" {
    @return $base * $large-width;
  }
}

@function buttonHeight($size) {
  $extra-small-width: 0.7;
  $base: 40px;
  $medium-height: 1.3;
  $large-height: 1.6;

  @if $size == "xs" {
    @return $base * $extra-small-width;
  }
  @if $size == "s" {
    @return $base;
  }
  @if $size == "m" {
    @return $base * $medium-height;
  }
  @if $size == "l" {
    @return $base * $large-height;
  }
}

@mixin import-button($width, $height, $font-size, $color-text, $color-background, $border-color) {
  width: $width;
  height: $height;

  //text
  @include font(GothamSSm, bold);
  text-align: center;
  font-size: $font-size;
  color: $color-text;

  //border
  border-radius: $border-radius;
  border-style: solid;
  border-width: 3px;
  border-color: $border-color;

  //mouse cursor changes to a pointy finger
  cursor: pointer;

  background-color: $color-background;
  box-shadow: inset 0 0 0 0 $color-text;
  transition: ease-in-out;
  transition-duration: $trans-duration;
  outline: none;

  &:hover {
    box-shadow: inset 0 0 -$width 0 $color-text;
    color: $color-background;
  }
}

//specific
.prim_medium_start_orange {
  @include import-button(
    buttonWidth("m"),
    buttonHeight("m"),
    $font-size-Medium,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.sec_medium_home_blue {
  @include import-button(buttonWidth("m"), buttonHeight("m"), $font-size-Medium, $main-blue, $main-white, $main-blue);
}

//prim
.prim_large_button_blue {
  @include import-button(buttonWidth("l"), buttonHeight("l"), $font-size-Large, $main-white, $main-blue, $main-blue);
}

.prim_large_button_orange {
  @include import-button(
    buttonWidth("l"),
    buttonHeight("l"),
    $font-size-Large,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_medium_button_blue {
  @include import-button(buttonWidth("m"), buttonHeight("m"), $font-size-Medium, $main-white, $main-blue, $main-blue);
}

.prim_medium_button_orange {
  @include import-button(
    buttonWidth("m"),
    buttonHeight("m"),
    $font-size-Medium,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_small_button_blue {
  @include import-button(buttonWidth("s"), buttonHeight("s"), $font-size-Small, $main-white, $main-blue, $main-blue);
}

.prim_extra_small_button_blue {
  @include import-button(buttonWidth("xs"), buttonHeight("xs"), $font-size-Small, $main-white, $main-blue, $main-blue);
}

.prim_small_button_orange {
  @include import-button(
    buttonWidth("s"),
    buttonHeight("s"),
    $font-size-Small,
    $main-white,
    $main-orange,
    $main-orange
  );
}

//sec
.sec_large_button_blue {
  @include import-button(buttonWidth("l"), buttonHeight("l"), $font-size-Large, $main-blue, $main-white, $main-blue);
}

.sec_large_button_orange {
  @include import-button(
    buttonWidth("l"),
    buttonHeight("l"),
    $font-size-Large,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_medium_button_blue {
  @include import-button(buttonWidth("m"), buttonHeight("m"), $font-size-Medium, $main-blue, $main-white, $main-blue);
}

.sec_medium_button_orange {
  @include import-button(
    buttonWidth("m"),
    buttonHeight("m"),
    $font-size-Medium,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_small_button_blue {
  @include import-button(buttonWidth("s"), buttonHeight("s"), $font-size-Small, $main-blue, $main-white, $main-blue);
}

.sec_small_button_orange {
  @include import-button(
    buttonWidth("s"),
    buttonHeight("s"),
    $font-size-Small,
    $main-orange,
    $main-white,
    $main-orange
  );
}
