$trans-duration: 0.5s;

@mixin import-button($width, $height, $font-size, $color-text, $color-background, $border-color) {
  width: $width;
  height: $height;

  //text
  @include font(GothamSSm, bold);
  text-align: center;
  font-size: $font-size;
  color: $color-text;

  //border
  border-radius: $border-radius-s;
  border-style: solid;
  border-width: 3px;
  border-color: $border-color;

  //mouse cursor changes to a pointy finger
  cursor: pointer;

  background-color: $color-background;
  box-shadow: inset 0 0 0 0 $color-text;
  transition: ease-in-out;
  transition-duration: $trans-duration;
  outline: none;

  &:hover {
    box-shadow: inset 0 0 -$width 0 $color-text;
    color: $color-background;
  }
}

//primary-button classes
.prim_large_button_blue {
  @include import-button($input-button-width-l, $input-button-height-l, $font-size-base, $main-white, $main-blue, $main-blue);
}

.prim_large_button_orange {
  @include import-button(
    $input-button-width-l,
    $input-button-height-l,
    $font-size-base,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_medium_button_blue {
  @include import-button($input-button-width-m, $input-button-width-m, $font-size-base, $main-white, $main-blue, $main-blue);
}

.prim_medium_button_orange {
  @include import-button(
    $input-button-width-m,
    $input-button-height-m,
    $font-size-base,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_small_button_blue {
  @include import-button($input-button-width-s, $input-button-height-s, $font-size-base, $main-white, $main-blue, $main-blue);
}

.prim_small_button_orange {
  @include import-button(
    $input-button-width-s,
    $input-button-height-s,
    $font-size-base,
    $main-white,
    $main-orange,
    $main-orange
  );
}

//secondary-button classes
.sec_large_button_blue {
  @include import-button($input-button-width-l, $input-button-height-l, $font-size-base, $main-blue, $main-white, $main-blue);
}

.sec_large_button_orange {
  @include import-button(
    $input-button-width-l,
    $input-button-height-l,
    $font-size-base,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_medium_button_blue {
  @include import-button($input-button-width-m, $input-button-height-m, $font-size-base, $main-blue, $main-white, $main-blue);
}

.sec_medium_button_orange {
  @include import-button(
    $input-button-width-m,
    $input-button-height-m,
    $font-size-base,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_small_button_blue {
  @include import-button($input-button-width-s, $input-button-height-s, $font-size-base, $main-blue, $main-white, $main-blue);
}

.sec_small_button_orange {
  @include import-button(
    $input-button-width-s,
    $input-button-height-s,
    $font-size-base,
    $main-orange,
    $main-white,
    $main-orange
  );
}
