.default-button {
	border: none;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 96px;
		family: $default-font;
        color: $white;
	}
	color: $main-blue;

	cursor: pointer;

	&:focus {
		color: $light-blue;
	}

}