//specific var
$button-Start-width-Medium: 93px;
$button-Home-width-Medium: 90px;
$button-Frontside-width-Medium: 81px;
$button-Hinweis-width-Medium: 103px;

//mini button, under video
$video-controls-button-width: 3em;
$video-controls-button-height: 2em;

//variables primary
$button-Prim-width-Large: 184px;
$button-Prim-height-Large: 64px;
$button-Prim-width-Medium: 115px;
$button-Prim-height-Medium: 52px;
$button-Prim-width-Small: 109px;
$button-Prim-height-Small: 40px;

//variables secondary
$button-Sec-width-Large: 184px;
$button-Sec-height-Large: 64px;
$button-Sec-width-Medium: 142px;
$button-Sec-height-Medium: 52px;
$button-Sec-width-Small: 109px;
$button-Sec-height-Small: 40px;

//font size
$font-size-Large: 22px;
$font-size-Medium: 18px;
$font-size-Small: 14px;
$button-padding-Large: 10px;
$button-padding-Medium: 8px;
$button-padding-Small: 5px;
$trans-duration: 0.5s;
$border-radius: 5px;

@mixin import-button(
  $width,
  $height,
  $font-size,
  $color-text,
  $color-background,
  $border-color
) {
  width: $width;
  height: $height;

  //text
  @include font(GothamSSm, bold);
  text-align: center;
  font-size: $font-size;
  color: $color-text;

  //border
  border-radius: $border-radius;
  border-style: solid;
  border-width: 3px;
  border-color: $border-color;

  //mouse cursor changes to a pointy finger
  cursor: pointer;

  background-color: $color-background;
  box-shadow: inset 0 0 0 0 $color-text;
  transition: ease-in-out;
  transition-duration: $trans-duration;
  outline: none;

  &:hover {
    box-shadow: inset 0 0 -$width 0 $color-text;
    color: $color-background;
  }
}

//specific
.prim_medium_start_orange {
  @include import-button(
    $button-Start-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.sec_medium_home_blue {
  @include import-button(
    $button-Home-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-blue,
    $main-white,
    $main-blue
  );
}

.prim_medium_frontside_blue {
  @include import-button(
    $button-Frontside-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-white,
    $main-blue,
    $main-blue
    );
}

.sec_medium_frontside_blue {
  @include import-button(
    $button-Frontside-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-blue,
    $main-white,
    $main-blue
    );
}

.sec_medium_hinweis_blue {
  @include import-button(
    $button-Hinweis-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-blue,
    $main-white,
    $main-blue
  );
}

//prim
.prim_large_button_blue {
  @include import-button(
    $button-Prim-width-Large,
    $button-Prim-height-Large,
    $font-size-Large,
    $main-white,
    $main-blue,
    $main-blue
  );
}

.prim_large_button_orange {
  @include import-button(
    $button-Prim-width-Large,
    $button-Prim-height-Large,
    $font-size-Large,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_medium_button_blue {
  @include import-button(
    $button-Prim-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-white,
    $main-blue,
    $main-blue
  );
}

.prim_medium_button_orange {
  @include import-button(
    $button-Prim-width-Medium,
    $button-Prim-height-Medium,
    $font-size-Medium,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_small_button_blue {
  @include import-button(
    $button-Prim-width-Small,
    $button-Prim-height-Small,
    $font-size-Small,
    $main-white,
    $main-blue,
    $main-blue
  );
}

.prim_small_button_orange {
  @include import-button(
    $button-Prim-width-Small,
    $button-Prim-height-Small,
    $font-size-Small,
    $main-white,
    $main-orange,
    $main-orange
  );
}

//sec
.sec_large_button_blue {
  @include import-button(
    $button-Sec-width-Large,
    $button-Sec-height-Large,
    $font-size-Large,
    $main-blue,
    $main-white,
    $main-blue
  );
}

.sec_large_button_orange {
  @include import-button(
    $button-Sec-width-Large,
    $button-Sec-height-Large,
    $font-size-Large,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_medium_button_blue {
  @include import-button(
    $button-Sec-width-Medium,
    $button-Sec-height-Medium,
    $font-size-Medium,
    $main-blue,
    $main-white,
    $main-blue
  );
}

.sec_medium_button_orange {
  @include import-button(
    $button-Sec-width-Medium,
    $button-Sec-height-Medium,
    $font-size-Medium,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_small_button_blue {
  @include import-button(
    $button-Sec-width-Small,
    $button-Sec-height-Small,
    $font-size-Small,
    $main-blue,
    $main-white,
    $main-blue
  );
}

.sec_small_button_orange {
  @include import-button(
    $button-Sec-width-Small,
    $button-Sec-height-Small,
    $font-size-Small,
    $main-orange,
    $main-white,
    $main-orange
  );
}

//TODO fix button
.video_controls_button_blue {
  @include import-button(
    $video-controls-button-width,
    $video-controls-button-height,
    $font-size-Small,
    $main-blue,
    $main-white,
    $main-blue
  );
  min-width: fit-content;
  padding: 2px;
}
