img {
  width: 100%;
}
.flai-header-icon {
  margin-top: 5vh;
  width: 10vw;
}
@media (max-width: 768px) {
  .flai-header-icon {
    margin-top: 5vh;
    width: 100vw;
    padding: 10vw;
  }
}

img.feedback-icon {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
}
