@import '../abstracts/buttonMixins';

img {
  width: 100%;
}
.flai-header-icon {
  width: $input-button-width-m;

  @media (max-width: $S) {
    width: 100%;
    padding: $padding-m;
  }
}

.loading-circle {
  margin: $margin-m;
  width: $input-button-height-l;
  height: $input-button-height-l;
  border-radius: 50%;
  background-color: inherit;
  border-left: $border-radius-s solid $main-white; //no inherit possible
  border-top: $border-radius-s solid $main-blue;
  border-bottom: $border-radius-s solid $main-blue;
  border-right: $border-radius-s solid $main-blue;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
