.default-labeled-input {
  .label {
    margin-bottom: $padding-s;
    line-height: 1rem;
  }
  .default_input_field {
    min-width: $input-button-width-m;
    min-height: $input-button-height-m;
    border: $line-width-s solid $main-blue;
    border-radius: $border-radius-s;
    padding: $padding-s;
    font-size: $font-size-m;
    outline: none;
  
    &:hover {
      border-color: $main-blue;
    }
  
    &:active {
      border-color: $main-blue;
      color: $main-black;
    }
  }
}
