@mixin import_inputField($status, $color) {
  width: $input-button-width-m;
  height: $input-button-height-m;
  border-color: $color;
  border-style: solid;
  border-radius: 5px;
  padding-left: 5px;
  font-size: $font-size-m;
  outline: none;

  &:hover {
    border-color: $main-blue;
  }

  &:active {
    border-color: $main-blue;
    color: $main-black;
  }
}

.default_input_field {
  @include import_inputField(default, $light-grey);
}

.success_input_field {
  @include import_inputField(success, $main-green);
}

.error_input_field {
  @include import_inputField(error, $main-red);
}
