.container {
  .router-link-exact-active {
    filter: invert(49%) sepia(33%) saturate(5835%) hue-rotate(208deg) brightness(97%) contrast(99%);
  }
  .item {
    display: inline-flex;
    .bar {
      @include flex-box(row, start, center, 0 $padding-s);
      .icon {
        width: $font-size-l;
      }
      .sidebar-flyout {
        font-size: $font-size-m;
      }
      @media (max-width: $S) {
        .icon {
          width: 12vw;
        }
        .sidebar-flyout {
          font-size: $font-size-l;
        }
      }
    }
  }
  a {
    color: $dark-grey;
    text-decoration: none;
  }
}
