.container {
  .router-link-exact-active {
    filter: invert(49%) sepia(33%) saturate(5835%) hue-rotate(208deg) brightness(97%) contrast(99%);
  }
  .item {
    display: inline-flex;
    .bar {
      @include flex-box(row, start, center, 0vh 1vw);
      .icon {
        width: 2.5vw;
      }
      .sidebar-flyout {
        font-size: 15px;
      }
      @media (max-width: 768px) {
        .icon {
          width: 12vw;
        }
        .sidebar-flyout {
          font-size: 24px;
        }
      }
    }
  }
  a {
    color: $dark-grey;
    text-decoration: none;
  }
}
