.sign-with-icon {
  height: $sign-div-height;
  display: flex;
  justify-content: center;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    .feedback-icon {
      filter: $main-black-svg;
    }

    span {
      margin: 0 0.5em;
      color: $main-black;
    }

    .currentLetter {
      font-weight: 800;
      font-size: 40px;
    }
  }
}