.sign-with-icon {
  display: flex;
  justify-content: center;

  .item {
    display: flex;
    align-items: center;
    margin: 0 $margin-m;

    opacity: $light-grey-svg;

    .feedback-icon {
      height: $font-size-l;
      aspect-ratio: 1/1;
      margin-left: $margin-s;
    }
  }

  .current-letter {
    opacity: 1;

    .feedback-icon {
      width: 60%;
    }

    div {
      font-weight: bold;
    }
  }
}

.status-generating {
  text-align: center;
}
