$left-column-width: 35%;
$right-column-width: calc(0.8 * (100vh - 2 * $margin-width));

.sign-with-icon {
  display: flex;
  justify-content: center;

  .sign-with-icon-container {
    width: 65%;
    display: flex;
    justify-content: space-evenly;

    .item {
      flex-basis: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .feedback-icon {
        filter: $main-black-svg;
        width: 35%;
        height: auto;
        aspect-ratio: 1/1;
        margin-left: -25%;
      }
    }

    .current-letter {
      .feedback-icon {
        width: 60%;
      }

      div {
        font-weight: bold;
      }
    }
  }
}
