
.sign-controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20%;

  .letters{
    width: 100px;
  }

  .lastLetter {
    left: 50%;
    font-size: $font-size-h3;
    position: relative; //absolute
    left: 0%;
  }
  .currentLetter {
    font-weight: 800;
    font-size: $font-size-h2;
    transform: translate(-50%, 0);
    position: relative; //absolute
    left: 50%;
  }
  .nextLetter {
    position: relative; //absolute
    left: 60%;
    font-size: $font-size-h3;
    transform: translate(-50%, 0);
  }

  .back-button {
    position: relative; //absolute
    left: 30%;
    transform: translate(-50%, 0);
  }
  .next-button {
    position: relative; //absolute
    left: 70%;
    transform: translate(-50%, 0);
  }
  .inactive-button {
    background-color: $subtle-grey;
    border-color: $subtle-grey;
  }
  .inactive-button:hover {
    animation: none;
    box-shadow: none;
    cursor: default;
    color: $main-white;
  }
}