@import '../abstracts/variables';

.start-panel {
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $subtle-yellow;
    padding: 25px;

    h2 {
        position: absolute; 
        top: 25px; 
        left:25px;
        margin: 0px;
        color: $dark-blue;
    }

    button {
        position: absolute; 
        bottom: 25px; 
        right:25px;
        width: 115px;
    }

    .flai-startpanel-icon {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 27%;
        opacity:0.2;
        transform: rotate(-13deg);
    }
}

#start-panel-text {
    p {
        padding-bottom: 10px;
        color: $dark-grey;
    }
}