
.statistic-dashboard-large {
  background-color: white;
    .flex-cards {
      padding: 5%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;
      gap: 100px;
    }
  }