@import '../abstracts/variables';

.start-panel {
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $subtle-yellow;
    padding: 5%;

    h2 {
        position:absolute;
        top: 8%;
        left: 4%;
        padding-bottom: 1.5%;
        color: $dark-blue;
    }

    .start-panel-text {
        position: absolute;
        top: 30%;
        color: $dark-grey;
    }

    button {
        position:absolute;
        bottom: 8%;
        right: 4%;
        float: right;
        width: 115px;
    }

    .flai-startpanel-icon {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 27%;
        opacity:0.2;
        transform: rotate(-13deg);
    }
}