video {
  border-radius: $border-radius-m;
}

.mirrored {
  transform: rotateY(180deg);
}

.video-controls {
  display: flex;
  justify-content: space-between;
}

.hint-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: $border-radius-m;
  border: 3px solid $main-blue;
}
