#video {
  div:focus {
    outline: none;
  }
  h3 {
    margin: 40px 0 0;
  }
}

video {
  border-radius: $border-radius;
}

.mirrored {
  transform: rotateY(180deg);
}

.video-controls {
  display: flex;
  justify-content: space-between;
}