a {
  text-decoration: none;
  color: $main-black;
  width: 100%;
  height: 100%;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: $main-white;
  border-radius: $border-radius-m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic-circle {
  position: relative;
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 100%;
  /*outline: $line-width-m solid $subtle-blue;
  outline-offset: $padding-s * -1;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

// TODO: update progress bar styling to be responsive
.progress-bar {
  width: 100%;
  position: absolute;
}
.circle {
  width: 75%;
  position: absolute;
}

.statistic-value {
  color: $dark-blue;
}

.statistic-text {
  width: 100%;
  padding: $padding-s;
  text-align: center;
  margin-top: $padding-m;

  @media (min-width: $S) {
    font-size: $font-size-s;
  }
  @media (min-width: $L) {
    font-size: $font-size-m;
  }
}
