a {
  text-decoration: none;
  color: $main-black;
}

.card-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $main-white;
  border-radius:  $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic-circle {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid $subtle-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic-value {
  color: $dark-blue;
}

.statistic-text {
  text-align: center;
  margin-top: 2%;
}
