a {
  text-decoration: none;
  color: $main-black;
  width: 100%;
  height: 100%;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: $main-white;
  border-radius: $border-radius-m;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.statistic-circle {
  position: relative;
  flex-basis: 100%;
  border-radius: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $S) and (max-width: $M) {
    aspect-ratio: 1 / 1;
    height: fit-content;
    flex-basis: inherit;
  }
}

.progress-bar {
  height: 100%;
  position: absolute;
  max-width: 100%;

  @media (min-width: $S) and (max-width: $M) {
    height: auto;
    width: 100%;
  }

  svg {
    height: 100%;
  }
}
.circle {
  height: 80%;
  position: absolute;
  max-width: 100%;
  
  @media (min-width: $S) and (max-width: $M) {
    height: auto;
    width: 100%;
  }

  svg {
    height: 100%;
  }
}

.statistic-value {
  color: $dark-blue;
}

.statistic-text {
  width: 100%;
  text-align: center;
  margin-top: $padding-s;

  @media (min-width: $S) {
    font-size: $font-size-s;
  }
  @media (min-width: $L) {
    font-size: $font-size-m;
  }
}
