.statistic-dashboard-large {
  background-color: $main-white;
  border-radius: $border-radius-m;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flex-cards {
    @include flex-box(column, space-between, center, $padding-m);
  }
  padding: $padding-m;

  .hot-streak {
    @include flex-box(row, center, center);
    margin-top: $padding-m;
  }

  .hot-streak-item {
    padding-right: $padding-s;
    color: $dark-grey;
  }

  .day-counter {
    padding-right: $padding-m;
  }

  .orange {
    color: $main-orange;
  }

  .day-text {
    color: $dark-grey;
    font-size: $font-size-l;
  }

  .counter {
    color: $dark-grey;
    margin-top: $margin-m;

    .days {
      display: flex;
      justify-content: center;
      margin-top: $margin-m;
    }
  }
}
