.statistic-dashboard-small {
  .grid-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
    .child-card {
      width: 100%;
    }
    @media (max-width: 768px)
    {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}