#week {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  align-items: center;
  .buttons {
    margin-left: 5px;
  }
  .body-medium {
    color: $dark-grey;
  }
}

.chart-container {
  height: 40vh;
}