// Typography
.heading-xlarge {
 @include font(GothamSSm, light);
 font-size: $h1;
 line-height: 1.3;
}

.heading-large {
  @include font(GothamSSm, light);
  font-size: $h2;
  line-height: 1.3;
}

.heading-medium {
  @include font(GothamSSm, light);
  font-size: $h3;
  line-height: 1.3;
}

.heading-small {
  @include font(GothamSSm, light);
  font-size: $h4;
  line-height: 1.3;
}

.body-large {
  @include font(GothamSSm, book);
  font-size: $large;
  line-height: 1.5;
}

.body-medium {
  @include font(GothamSSm, book);
  font-size: $medium;
  line-height: 1.5;
}

.body-emphasised {
  @include font(GothamSSm, bold);
  font-size: $medium;
  line-height: 1.5;
}