// Typography
.display-1 {
  @include font(GothamSSm, xlight);
  font-size: 48px;
  line-height: 1.3;
}

.display-2 {
  @include font(GothamSSm, xlight);
  font-size: 40px;
  line-height: 1.3;
}

h1 {
 @include font(GothamSSm, bold);
 font-size: 64px;
 line-height: 1.3;
}

h2 {
  @include font(GothamSSm, bold);
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  @include font(GothamSSm, bold);
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  @include font(GothamSSm, bold);
  font-size: 20px;
  line-height: 1.3;
}

body .large {
  @include font(GothamSSm, book);
  font-size: 22px;
  line-height: 1.5;
}

body .medium {
  @include font(GothamSSm, medium);
  font-size: 18px;
  line-height: 1.7;
}

body .normal {
  @include font(GothamSSm, medium);
  font-size: 16px;
  line-height: 1.7;
}

body .small {
  @include font(GothamSSm, book);
  font-size: 14px;
  line-height: 1.7;
}

body .xsmall {
  @include font(GothamSSm, book);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

label {
  @include font(GothamSSm, medium);
  font-size: 16;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.header-links{
  @include font(GothamSSm, bold);
  font-size: 18px;
  line-height: 1.8;
}

.lp-text {
  @include font(GothamSSm, medium);
  font-size: 16px;
  line-height: 1.9;
}

.db-cal-date {
  @include font(GothamSSm, bold);
  font-size: 16px;
  line-height: 1.3;
}