$trans-duration: 0.5s;

@mixin import-button(
  $width,
  $height,
  $padding,
  $font-size,
  $color-text,
  $color-background,
  $border-color
) {
  min-width: $width;
  height: fit-content;

  //text
  @include font(GothamSSm, bold);
  text-align: center;
  font-size: $font-size;
  color: $color-text;

  //border
  border-radius: $border-radius-s;
  border-style: solid;
  border-width: $line-width-m;
  border-color: $border-color;

  padding: $padding;

  //mouse cursor changes to a pointy finger
  cursor: pointer;

  background-color: $color-background;
  box-shadow: inset 0 0 0 0 $color-text;
  transition: ease-in-out;
  transition-duration: $trans-duration;
  outline: none;

  &:hover {
    box-shadow: inset 0 0 -$width 0 $color-text;
    color: $color-background;
  }
}

@mixin import-switch-button(
  $width,
  $height,
  $padding,
  $font-size,
  $color-text,
  $color-background,
  $border-color
) {
  button {
    @include import-button(
      $width,
      $height,
      $padding,
      $font-size,
      $color-text,
      $color-background,
      $border-color
    );
  }
  .switch-button-active {
    box-shadow: inset 0 0 -$width 0 $color-text;
    color: $color-background;
  }
  .switch-button-left,
  .switch-button-mid {
    border-right-width: $line-width-m * 0.5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .switch-button-right,
  .switch-button-mid {
    border-left-width: $line-width-m * 0.5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@mixin import-icon-button(
  $width,
  $height,
  $padding,
  $font-size,
  $color-text,
  $color-background,
  $border-color,
  $color-icon,
  $hover-color-icon,
) {
  @include import-button(
    $width,
    $height,
    $padding,
    $font-size,
    $color-text,
    $color-background,
    $border-color
  );
  
  img { 
    transition: all .1s ease;
    transition-delay: 0.2s;
    filter: $color-icon;
    height: $font-size-m;
    width: $font-size-m;
  }
  &:hover img {
    filter: $hover-color-icon;
  }
}

//primary-button classes
.prim_medium_button_blue {
  @include import-button(
    $input-button-width-m,
    $input-button-height-m,
    $padding-s,
    $font-size-m,
    $main-white,
    $main-blue,
    $main-blue
  );
}

.prim_medium_icon_button_blue {
  @include import-icon-button(
    $input-button-width-m,
    $input-button-height-m,
    $padding-s,
    $font-size-m,
    $main-white,
    $main-blue,
    $main-blue,
    $main-white-svg,
    $dark-blue-svg
  );
}

.prim_medium_button_orange {
  @include import-button(
    $input-button-width-m,
    $input-button-height-m,
    $padding-s,
    $font-size-m,
    $main-white,
    $main-orange,
    $main-orange
  );
}

.prim_small_button_blue {
  @include import-button(
    $input-button-width-s,
    $input-button-height-s,
    $padding-s,
    $font-size-s,
    $main-white,
    $main-blue,
    $main-blue
  );
}

.prim_small_button_orange {
  @include import-button(
    $input-button-width-s,
    $input-button-height-s,
    $padding-s,
    $font-size-s,
    $main-white,
    $main-orange,
    $main-orange
  );
}

//secondary-button classes
.sec_medium_button_blue {
  @include import-button(
    $input-button-width-m,
    $input-button-height-m,
    $padding-s,
    $font-size-m,
    $main-blue,
    $main-white,
    $main-blue
  );
}

.sec_medium_button_orange {
  @include import-button(
    $input-button-width-m,
    $input-button-height-m,
    $padding-s,
    $font-size-m,
    $main-orange,
    $main-white,
    $main-orange
  );
}

.sec_small_button_blue {
  @include import-button(
    $input-button-width-s,
    $input-button-height-s,
    $padding-s,
    $font-size-s,
    $main-blue,
    $main-white,
    $main-blue
  );
}

.sec_small_button_orange {
  @include import-button(
    $input-button-width-s,
    $input-button-height-s,
    $padding-s,
    $font-size-s,
    $main-orange,
    $main-white,
    $main-orange
  );
}

//switch button classes
.sec_small_button_blue_switch {
  @include import-switch-button(
    $input-button-width-s,
    $input-button-height-s,
    $padding-s,
    $font-size-s,
    $main-blue,
    $main-white,
    $main-blue
  );
}
