// media queries
@mixin media-query($canvas) {
  @if $canvas == S {
    @media only screen and (max-width: $S) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (max-width: $M) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (max-width: $L) {
      @content;
    }
  }
}

// font mixins
// from https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
@mixin font(
  $group,
  $variant: regular,
  $properties: family weight style,
  $font-stack: $base-font-stack
) {
  $font-properties: map-deep-get($font-stack, $group, $variant);

  @if $font-properties {
    @include track-fonts($group, $variant);
    @each $property, $values in $font-properties {
      @if contains($properties, $property) {
        font-#{$property}: map-get($font-properties, $property);
      }
    }
  }
}

// keeping track of used fonts
// from https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
@mixin track-fonts($group, $variant) {
  @if map-has-key($used-fonts, $group) == false {
    $used-fonts: map-merge(
      $used-fonts,
      (
        $group: (),
      )
    ) !global;
  }

  $font-map: map-get($used-fonts, $group);
  @if index($font-map, $variant) == null {
    $variations: append($font-map, $variant);
    $used-fonts: map-merge(
      $used-fonts,
      (
        $group: $variations,
      )
    ) !global;
  }
}

// font import mixin
@mixin import-fonts($font-stack: $base-font-stack) {
  @each $group, $variations in $used-fonts {
    @each $variant in $variations {
      $font-properties: map-deep-get($font-stack, $group, $variant);

      @if $font-properties {
        // If we have a font-face key we create the font-face rule
        $font-face: map-get($font-properties, font-face);
        @if $font-face {
          $font-family: map-get($font-face, family);
          $file-path: map-get($font-face, path);
          $file-formats: map-get($font-face, formats);
          $font-weight: map-get($font-properties, weight);
          $font-style: map-get($font-properties, style);

          @if $file-formats {
            @include font-face(
              $font-family,
              $file-path,
              $font-weight,
              $font-style,
              $file-formats
            );
          } @else {
            @include font-face(
              $font-family,
              $file-path,
              $font-weight,
              $font-style
            );
          }
        }
      }
    }
  }
}

// creating font face rule
@mixin font-face(
  $font-family,
  $file-path,
  $font-weight: 400,
  $font-style: normal,
  $file-formats: eot woff2 woff ttf svg
) {
  @font-face {
    font-family: quote($font-family);
    font-style: $font-style;
    font-weight: $font-weight;

    src: url($file-path) format(quote($file-formats));
  }
}

// creating flex-box mixin
@mixin flex-box(
  $flex-flow: column wrap,
  $justify-content: flex-start,
  $align-items: flex-start,
  $gap: 0vh 0vw
) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// creating form mixin
@mixin form-layout($container-name) {
  .#{$container-name} {
    width: 20%;
    max-height: 100%;
    overflow: auto;
    padding: $padding-l 0;
    border-radius: $border-radius-m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-white;

    .form-items {
      width: 100%;
      padding: 0 $padding-l;
    }

    .flai-logo {
      width: 40%;
      margin-bottom: $margin-s;
    }

    .lead-paragraph {
      margin-bottom: $margin-m;
    }

    .bottom-paragraph {
      line-height: 1;
    }

    .bottom-paragraph .link {
      color: $main-blue;
      cursor: pointer;
    }

    .center-text {
      text-align: center;
    }

    .error-message {
      color: $main-red;
      margin-bottom: $margin-m;
    }

    input, .primary-checkbox {
      margin-bottom: $margin-m;
    }

    .input-form-primary {
      width: 100%;
    }

    .button-container {
      display: flex;
      justify-content: center;
    }

    .divider-line {
      margin: $margin-m 0;
      line-height: 0;
      border-bottom: solid $light-grey $line-width-s;
    }

    @include media-query(L) {
      width: 30%;
    }

    @include media-query(M) {
      width: 40%;
    }

    @include media-query(S) {
      width: 90%;
    }
  }
}
