// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Spacing variables
$margin-base: 1rem;
$margin-l: $margin-base * 2;
$margin-m: $margin-base;
$margin-s: $margin-base * 0.5;

$padding-base: 1rem;
$padding-l: $padding-base * 2;
$padding-m: $padding-base;
$padding-s: $padding-base * 0.5;

// border variables
$border-radius-base: 0.53rem;
$border-radius-l: $border-radius-base * 2;
$border-radius-m: $border-radius-base;
$border-radius-s: $border-radius-base * 0.5;

$line-width-base: 0.16rem;
$line-width-l: $line-width-base * 2;
$line-width-m: $line-width-base;
$line-width-s: $line-width-base * 0.5;

//font sizes
$font-size-base: 1rem;

$font-size-h1: $font-size-base*3.05;
$font-size-h2: $font-size-base*2.44;
$font-size-h3: $font-size-base*1.95;
$font-size-h4: $font-size-base*1.57;

$font-size-l: $font-size-base*1.25;
$font-size-m: $font-size-base;
$font-size-s: $font-size-base * 0.8;

// input / button sizes
$input-button-width-base: 5.26rem;
$input-button-width-l: $input-button-width-base * 1.2;
$input-button-width-m: $input-button-width-base;
$input-button-width-s: $input-button-width-base * 0.4;

$input-button-height-base: 2.1rem;
$input-button-height-l: $input-button-height-base * 1.3;
$input-button-height-m: $input-button-height-base;
$input-button-height-s: $input-button-height-base * 0.7;

// breakpoints
$S: 768px;
$M: 1024px;
$L: 1600px;

// font stack
// from https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
$used-fonts: ();
$base-font-stack:(
    GothamSSm: (
      light: (
        family: (Gotham SSm, Gotham),
        weight: 300,
        style: normal,
        font-face: (
          family: 'Gotham SSm',
          path: '/assets/fonts/GothamSSm-Light.otf',
          formats: ('opentype')
        )
    ),
    light-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 300,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-LightItalic.otf',
        formats: ('opentype')
      )
    ),
    medium: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-Medium.otf',
        formats: ('opentype')
      )
    ),
    medium-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-LightItalic.otf',
        formats: ('opentype')
      )
    ),
    xlight: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 200,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-XLight.otf',
        formats: ('opentype')
      )
    ),
    xlight-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 200,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-XLightItalic.otf',
        formats: ('opentype')
      )
    ),
    bold: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: bold,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-Bold.otf',
        formats: ('opentype')
      )
    ),
    bold-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: bold,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-BoldItalic.otf',
        formats: ('opentype')
      )
    ),
    book: (
      family: (Gotham SSm, Gotham),
      weight: 350,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-Book.otf',
        formats: ('opentype')
      )
    ),
      book-italic: (
      family: (Gotham SSm, Gotham),
      weight: 350,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-BookItalic.otf',
        formats: ('opentype')
      )
    ),
  ),
);

// Main Colors
$main-blue: #4a7bf6;
$dark-blue: #355bbc;
$light-blue: #7aa0ff;
$subtle-blue: #c5dcff;
$background-blue: #ebf1fb;

// Secondary Colors
$main-yellow: #fff21c;
$dark-yellow: #e9e20b;
$light-yellow: #ffff60;
$subtle-yellow: #fffdb9;

$main-orange: #ff8722;
$dark-orange: #c55800;
$light-orange: #ffb855;
$subtle-orange: #ffcd86;

// Status Colors
$main-red: #ff0000;
$dark-red: #cc0000;
$light-red: #ff6565;
$subtle-red: #ffacac;

$main-green: #00bd2a;
$dark-green: #018b1f;
$light-green: #70cd84;
$subtle-green: #bbf3c7;

// Greyscale
$main-black: #000000;
$dark-grey: #525252;
$light-grey: #959595;
$subtle-grey: #cecece;
$main-white: #ffffff;

//svg colors
$main-black-svg: invert(0%) sepia(96%) saturate(0%) hue-rotate(266deg) brightness(97%) contrast(101%);
$main-white-svg: invert(94%) sepia(100%) saturate(23%) hue-rotate(21deg)
  brightness(104%) contrast(106%);
$dark-blue-svg: invert(35%) sepia(58%) saturate(762%) hue-rotate(186deg) brightness(90%) contrast(100%);

// Low opacity
$transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.5);
