// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Grid Variables
$grid-width: max-width;
$gutter-vertical: 25px;
/*$gutter-horizontal: 25px;*/

//Spacing variables
$padding-height: 1.5vh;
$padding-width: 3vw;
$margin-height: 2.5vh;
$margin-width: 5vw;
$border-radius: 10px;

// breakpoints

$S: 768px;
$M: 1024px;
$L: 1600px;

// font stack
// from https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
$used-fonts: ();
$base-font-stack:(
    GothamSSm: (
      light: (
        family: (Gotham SSm, Gotham),
        weight: 300,
        style: normal,
        font-face: (
          family: 'Gotham SSm',
          path: '/assets/fonts/GothamSSm-Light.otf',
          formats: ('opentype')
        )
    ),
    light-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 300,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-LightItalic.otf',
        formats: ('opentype')
      )
    ),
    medium: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-Medium.otf',
        formats: ('opentype')
      )
    ),
    medium-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-LightItalic.otf',
        formats: ('opentype')
      )
    ),
    xlight: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 200,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-XLight.otf',
        formats: ('opentype')
      )
    ),
    xlight-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 200,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-XLightItalic.otf',
        formats: ('opentype')
      )
    ),
    bold: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: bold,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-Bold.otf',
        formats: ('opentype')
      )
    ),
    bold-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: bold,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-BoldItalic.otf',
        formats: ('opentype')
      )
    ),
    book: (
      family: (Gotham SSm, Gotham),
      weight: 350,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-Book.otf',
        formats: ('opentype')
      )
    ),
      book-italic: (
      family: (Gotham SSm, Gotham),
      weight: 350,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path: '/assets/fonts/GothamSSm-BookItalic.otf',
        formats: ('opentype')
      )
    ),
  ),
);

//font sizes
$font-size-base: 8px;

$display-1: $font-size-base*6;
$display-2: $font-size-base*5;

$h1: $font-size-base*8;
$h2: $font-size-base*4.5;
$h3: $font-size-base*3.5;
$h4: $font-size-base*2.5;

$large: $font-size-base*2.75;
$medium: $font-size-base*2.25;
$normal: $font-size-base*2;
$small: $font-size-base*1.75;
$xsmall: $font-size-base*1.5;





// Main Colors

$main-blue: #4a7bf6;
$dark-blue: #355bbc;
$light-blue: #7aa0ff;
$subtle-blue: #c5dcff;
$background-blue: #ebf1fb;

// Secondary Colors

$main-yellow: #fff21c;
$dark-yellow: #e9e20b;
$light-yellow: #ffff60;
$subtle-yellow: #fffdb9;

$main-orange: #ff8722;
$dark-orange: #c55800;
$light-orange: #ffb855;
$subtle-orange: #ffcd86;

// Status Colors

$main-red: #ff0000;
$dark-red: #cc0000;
$light-red: #ff6565;
$subtle-red: #ffacac;

$main-green: #00bd2a;
$dark-green: #018b1f;
$light-green: #70cd84;
$subtle-green: #bbf3c7;

// Greyscale

$main-black: #000000;
$dark-grey: #525252;
$light-grey: #959595;
$subtle-grey: #cecece;
$main-white: #ffffff;
$main-white-svg: invert(94%) sepia(100%) saturate(23%) hue-rotate(21deg)
  brightness(104%) contrast(106%);

// Low opacity

$transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.5);
