// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Grid Variables
$grid-width: max-width;
$gutter-vertical: 25px;
/*$gutter-horizontal: 25px;*/

//Spacing variables
$padding-height: 1.5em;
$padding-width: 3em;
$margin-height: 2.5em;
$margin-width: 5em;

// breakpoints

$S: 768px;
$M: 1024px;
$L: 1600px;

// font stack
// from https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
$used-fonts: ();
$base-font-stack: (
  GothamSSm: (
    light: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 300,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-Light',
        formats: (
          otf,
        ),
      ),
    ),
    light-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 300,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-LightItalic',
        formats: (
          otf,
        ),
      ),
    ),
    medium: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-Medium',
        formats: (
          otf,
        ),
      ),
    ),
    medium-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-LightItalic',
        formats: (
          otf,
        ),
      ),
    ),
    xlight: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 200,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-XLight',
        formats: (
          otf,
        ),
      ),
    ),
    xlight-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: 200,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-XLightItalic',
        formats: (
          otf,
        ),
      ),
    ),
    bold: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: bold,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-Bold',
        formats: (
          otf,
        ),
      ),
    ),
    bold-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: bold,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-BoldItalic',
        formats: (
          otf,
        ),
      ),
    ),
    book: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: normal,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-Book',
        formats: (
          otf,
        ),
      ),
    ),
    book-italic: (
      family: (
        Gotham SSm,
        Gotham,
      ),
      weight: normal,
      style: italic,
      font-face: (
        family: 'Gotham SSm',
        path:
          'ia5_teamprojekt_flai\frontend\flai_app\src\assets\scss\fonts\GothamSSm-BookItalic',
        formats: (
          otf,
        ),
      ),
    ),
  ),
);

// Main Colors

$main-blue: #4a7bf6;
$dark-blue: #355bbc;
$light-blue: #7aa0ff;
$subtle-blue: #c5dcff;
$background-blue: #ebf1fb;

// Secondary Colors

$main-yellow: #fff21c;
$dark-yellow: #e9e20b;
$light-yellow: #ffff60;
$subtle-yellow: #fffdb9;

$main-orange: #ff8722;
$dark-orange: #c55800;
$light-orange: #ffb855;
$subtle-orange: #ffcd86;

// Status Colors

$main-red: #ff0000;
$dark-red: #cc0000;
$light-red: #ff6565;
$subtle-red: #ffacac;

$main-green: #00bd2a;
$dark-green: #018b1f;
$light-green: #70cd84;
$subtle-green: #bbf3c7;

// Greyscale

$main-black: #000000;
$dark-grey: #525252;
$light-grey: #959595;
$subtle-grey: #cecece;
$main-white: #ffffff;
$main-white-svg: invert(94%) sepia(100%) saturate(23%) hue-rotate(21deg)
  brightness(104%) contrast(106%);

// Low opacity

$transparent-black: rgba(0, 0, 0, 0.5);
