aside {
  width: fit-content;
  height: 100%;
  background-color: white;
  padding-left: $padding-l;
  padding-right: $padding-l;
  @include media-query("S") {
    width: 100%;
    padding: $padding-l;
    @include flex-box(column, center, center)
  }
}
