// sidebar
/*.sidebar {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; // Stay on top
    top: 0; // Stay at the top
    left: 0;
    background-color: $main-white;
    overflow-x: hidden; // Disable horizontal scroll
    padding-top: 180px;
    border-right-style: solid;
  }
*/