//sidebar width
$sidebar-width: calc($input-button-width-m + $padding-m * 2);

.display-aside {
  width: $sidebar-width;
  height: 100%;
  background-color: white;
  position: fixed;
  padding-left: $padding-m;
  padding-right: $padding-m;
  @media (max-width: 768px) {
    width: 100%;
    position: relative;
  }
}