:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
  margin: 1rem 1rem;
}

a {
  color: black;
  display: block;
  margin: 0.4rem 2rem;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

#gtImage, #webcamVideo, #image {
  max-height: 600px;
  max-width: 40%;
  margin: 1rem 3rem;
}

#webcamVideo {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#labelStatistic {
  list-style-type: none;
  text-align: center;
}

#labelStatistic li{
  display: inline;
  margin: 0 .5rem;
}
