h1,
h2 {
  font-weight: 100;
}

.home-page {
  background-color: $background-blue;
  padding: 2vh 2vw;
  .dashboard {
    margin-top: 3vh;
    margin-bottom: 3vh;
    @include flex-box(row wrap, flex-start, $gap: 10vh 0);
    .column-left {
      @include flex-box(row wrap, space-between, stretch, $gap: 2vh 1vw);
      width: 50vw;
      margin-right: 2vw;
      .start-panel {
        background-color: $subtle-yellow;
        flex-basis: 32.5vw;
        min-width: 300px;
        aspect-ratio: 2.5 / 1;
        border-radius: 5px;
      }
      .level-panel {
        background-color: $light-blue;
        flex-basis: 14vw;
        min-width: 200px;
        aspect-ratio: 1 / 1;
        border-radius: 5px;
      }
      .stats-small-panel {
        flex-basis: 100vw;
      }
    }
    .stats-large-panel {
      width: 26vw;
      min-width: 200px;
      aspect-ratio: 9 / 16;
    }
  }
}
