.landing-page {
  .main {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    .heading-large {
      margin-bottom: 50px;
      color: $main-blue;
    }

    .register {
      margin-top: 50px;
    }

    .login {
      margin-top: 50px;
    }
    a {
      text-decoration: none;
      color: $main-blue;
    }
  }
}

.home-page {
  background-color: $background-blue;
  .dashboard {
    margin: 0 auto;
    height: 100vh;
    padding: $padding-l;
    display: grid;
    justify-content: center;
    gap: $padding-m;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    .start-panel {
      background-color: $main-blue;
      grid-column: span 2;
      grid-row: span 2;

      .start-panel-text {
        .heading-medium {
          @media (min-width: $S) and (max-width: $M) {
            font-size: $font-size-h3;
          }
          @media (max-width: $L) {
            font-size: $font-size-h4;
          }
        }
      }
    }
    .level-panel {
      background-color: $subtle-orange;
      grid-column: span 2;
      grid-row: span 2;
      border-radius: $border-radius-base;
      @include flex-box(column, center, center);
      color: $dark-blue;

      .heading-medium {
        @media (min-width: $S) and (max-width: $M) {
          font-size: $font-size-h3;
        }
        @media (max-width: $L) {
          font-size: $font-size-h4;
        }
      }

      .level-icon {
        height: 50%;
        padding-left: $padding-s;
        filter: $dark-blue-svg;
      }
    }
    .stats-small-panel {
      grid-column: 3;
      grid-row: 1 / 5;
    }
    .stats-large-panel {
      grid-row: 1 / 5;
      grid-column: 4 / 6;
    }
    @media (max-width: $S) { 
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      .start-panel {
        grid-column: span 3;
        grid-row: 1;
      }

      .level-panel {
        grid-column: span 3;
        grid-row: span 1;
      }

      .stats-small-panel {
        grid-column: span 3;
        grid-row: span 3;
        align-items: center;
      }
      .stats-large-panel {
        grid-column: span 3;
        grid-row: span 3;
      }
    }
  }
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
}