h1,
h2 {
  font-weight: 100;
}

.home-page {
  background-color: $background-blue;
  padding: 2vh 2vw;
  .dashboard {
    margin-top: 3vh;
    @include flex-box(row wrap, flex-start, $gap: 100vh 0);
    .column-left {
      @include flex-box(row wrap, space-between);
      width: 46vw;
      height: 80vh;
      margin-right: 2vw;
      .start-panel {
        background-color: $subtle-yellow;
        height: 30vh;
        aspect-ratio: 2.08 / 1;
        border-radius: 5px;
      }
      .level-panel {
        background-color: $light-blue;
        height: 30vh;
        aspect-ratio: 1 / 1;
        border-radius: 5px;
      }
      .stats-small-panel {
        width: 100vw;
      }
    }
    .stats-large-panel {
      height: 110vh;
      aspect-ratio: 9 / 16;
    }
  }
}
