.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2% 10% 2% 10%;
    align-items: flex-end;
    gap: 2%;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 10% 2% 10%;
    align-items: flex-start;
    text-align: left;

    .flai-logo {
        float: left;
        width: 30%;
        @media (max-width:768px) {
            width: 70%;
        }
    }
}

.main-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 10% 2% 10%;
    align-items: flex-end;
    text-align: right;
}

:is(.main-left, .main-right) .heading-large {
    color: $main-blue;
    width: 50%;
    @media (max-width:768px) {
        width: 100%;
        font-size: 200%;
    }
}

:is(.main-left, .main-right) .text {
    color: $dark-grey;
    width: 45%;
    padding-top: 1.5%;
    @media (max-width:768px) {
        width: 100%;
        font-size: 100%;
    }
}

.bg-white {
    width: 100%;
    background-color: $main-white;
}

.bg-blue {
    width: 100%;
    background-color: $background-blue;
}

#orange {
    color: $main-orange;
}

#login {
    cursor: pointer;
    color: $main-blue;
  }