.buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: calc(60px + 25vh);
    padding: 2% 5% 2% 10%;
    gap: 2%;
    background-color: aqua;
    @media (max-width:768px) {
        padding: 2%;
        height: fit-content;
    }
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 10% 2% 10%;
    align-items: flex-start;
    text-align: left;

    .flai-logo {
        float: left;
        width: 30%;
        @media (max-width:768px) {
            width: 70%;
        }
    }
}

.main-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 10% 2% 10%;
    align-items: flex-end;
    text-align: right;
}

:is(.main-left, .main-right) .heading-large {
    color: $dark-blue;
    width: 50%;
    @media (max-width:768px) {
        width: 100%;
        font-size: 200%;
    }
}

:is(.main-left, .main-right) .text {
    color: $dark-grey;
    width: 45%;
    padding-top: 1.5%;
    @media (max-width:768px) {
        width: 100%;
        font-size: 100%;
    }
}

.bg-white {
    width: 100%;
    max-height: 500px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:768px) {
        margin-top: 2vh;
        flex-direction: column;
        align-items: center;
    }
}

.bg-blue {
    width: 100%;
    min-height: 300px;
    background-color: $background-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:768px) {
        margin-top: 2vh;
        flex-direction: column;
        align-items: center;
    }
}

#orange {
    color: $main-orange;
}

#login {
    cursor: pointer;
    color: $main-blue;
  }

   
:is(.bg-blue, .bg-white) .img {
    position: relative;
    top: -20vh;
    right: 0%;
    width: 45%;
    height: 100%;
    @media (max-width:768px) {
        position: relative;
        height: 500%;
        top: 2vh;
        right: -30vw;
    }

}