body {
    display: flex;
    flex-direction: column;
}

#stick {
    position: sticky;
    height: fit-content;
    @include flex-box(row, space-between, center);
    padding: $padding-m;
    background-color: rgba(255, 255, 255, 0.8);

    @include media-query("S") {
        flex-direction: column;
        justify-content: space-between;
        padding: $padding-m;
        row-gap: $margin-m;
    }

    #buttons {
        height: fit-content;
        @include flex-box(row, flex-end, center, 0 $margin-s);
        @include media-query("S") {
            justify-content: center;
        }
    }

    #login {
        cursor: pointer;
        color: $main-blue;
    }
}

#blue {
    color: $main-blue;
}

.header-left {
    @include flex-box(row, flex-start, center);
    .flai-logo-1 {
        height: $input-button-height-l;
    }
}

.first-section {
    height: 90vh;
    background-color: $background-blue;
}

.second-section {
    height: 100vh;
    background-color: $main-white;
}

.third-section {
    height: 100vh;
    background-color: $background-blue;
}

.end-section {
    height: 120vh;
    background-color: $main-white;
}

.first-section,
.second-section,
.third-section,
.end-section {
    @include flex-box(row, center, center, 0 $margin-l);
    width: 100%;
    @include media-query("S") {
        flex-direction: column;
        gap: $margin-m 0;
        height: 100%;
        padding: $padding-m 0;
    }
}

.main-left,
.main-right {
    @include flex-box(column wrap, center, center);
    width: 40%;
    text-align: left;
}

.main-left,
.main-right {
    @include media-query("S") {
        width: 70%;
        padding: $padding-m;
        row-gap: $margin-s;
    }
}

:is(.main-left, .main-right) .heading-large {
    color: $dark-blue;
    width: 100%;
    margin-bottom: $margin-m;
}

:is(.main-left, .main-right) .text {
    color: $dark-grey;
    width: 100%;
    line-height: 1.9;
    @include media-query("S") {
        text-align: justify;
    }
}

:is(.main-left, .main-right)  .img {
    width: 100%;
    height: auto;
    @include media-query("S") {
        width: 80%;
        height: auto;
    }
}

#line {
    width: 100%;
    color: $light-grey;
    opacity: 25%;
}

#footer {
    @include flex-box(row, flex-end, center, 0 $margin-l);
    @include font(GothamSSm, medium);
    padding: $padding-m $padding-l;
    color: $light-grey;
    font-size: $font-size-s;

    a {
        width: fit-content;
        color: $light-grey;
        text-decoration: none;
        cursor: pointer;
    }
}
