@import '../components/loading_screen';

.exercise-container {
  width: 100%;
  height: 100vh;
}

.exercise-grid {
  display: grid;
  grid-auto-flow: column;

  column-gap: $padding-width * 2;
  row-gap: $padding-height;
  width: 100%;
  height: 100%;
  padding: $padding-height $padding-width * 2;

  h2 {
    grid-area: heading;
  }
  .home-button {
    grid-area: home;
  }
  .home-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.watch-word,
.show-word {
  .video {
    grid-area: video;
    width: 100%;
    height: 100%;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .video-controls {
    grid-area: video-controls;
  }

  .webcam-container {
    grid-area: webcam;
    width: 100%;
    height: 100%;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .next-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.watch-word {
  grid-template-areas:
    'heading home'
    'signs status'
    'video webcam'
    'video-controls next';

  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 1fr 65% 1fr;

  .sign-controls {
    grid-area: signs;
  }

  .status {
    grid-area: status;
  }

  .next-button {
    grid-area: next;
  }
}

.show-word {
  grid-template-areas:
    'heading home'
    '. current-word'
    'video webcam'
    'video-controls webcam'
    '. status-next';

  grid-template-columns: 1fr 60%;
  grid-template-rows: auto auto 50% 1fr auto;

  .current-word {
    grid-area: current-word;
  }
  .hint-container {
    grid-area: video;
  }
  .status {
    grid-area: status-next;
  }
  .next-button {
    grid-area: status-next;
  }
}

.loading-screen {
  grid-template-areas:
    'heading home'
    'loading-screen loading-screen';

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  .loading-screen-wrapper {
    grid-area: loading-screen;
  }
}

.correct {
  #webcam-feed {
    border: 4px solid $main-green;
  }
}
.wrong {
  #webcam-feed {
    border: 4px solid $main-red;
  }
}
