
$padding: 1% 2%;
$margin-left: 2vh;
$margin-bottom: 5vh;
$height: 40px;

.profile-page {
    background-color: $background-blue;
    height: 100vh;
    .profile {
        width: 100%;
        padding-top: 10%;
        display: inline-flex;
        border-radius: $border-radius;
        .property {
            width: 40%;
            min-width: 40%;
            margin-right: $margin-left;
            display: flex;
            flex-direction: column;
            .body-medium {
                list-style-type: none;
                margin-bottom: $margin-bottom;
                .key {
                    text-align: end;
                    color: $main-blue;
                    line-height: $height;
                    height: $height;
                    width: 100%;
                }
            }
        }

        .information {
            width: 60%;
            margin-left: $margin-left;
            .body-medium {
                list-style-type: none;
                margin-bottom: $margin-bottom;
                .item {
                    width: 50%;
                    background-color: white;
                    padding: $padding;
                    border-radius: $border-radius;
                }
            }
        }

        .profile-form-container {
            margin-left: $margin-left;
            width: 60%;
            .form-items {
                width: 100%;
                display: flex;
                row-gap: $margin-bottom;
                flex-direction: column;
                margin-bottom: $margin-bottom;
            }

            input {
                font-size: $medium;
                height: 40px;
                width: 50%;
                padding: $padding;
            }

            .input-form-primary,
            .button-form-primary {
                width: 100%;
            }
        }
    }
}
