.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

@include form-layout($container-name: 'register-form-container');
