// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// default Font
$default-font: 'Gotham SSm';

// Main Colors

$main-blue: #4A7BF6;
$dark-blue: #355BBC;
$light-blue: #7AA0FF;
$subtle-blue: #C5DCFF;

// Secondary Colors

$secondary-yellow: #FFF21C;
$dark-yellow: #E9E20B;
$light-yellow: #FFFF60;
$subtle-yellow: #FFFDB9;

$secondary-orange: #FF8722;
$dark-orange: #C55800;
$light-orange: #FFB855;
$subtle-orange: #FFCD86;

// Status Colors

$error-red: #FF0000;
$dark-red: #CC0000;
$light-red: #FF6565;
$subtle-red: #FFACAC;

$success-green: #00BD2A;
$dark-green: #018B1F;
$light-green: #70CD84;
$subtle-green: #BBF3C7;

// Dark Colors

$black: #000000;
$dark-grey: #525252;
$light-grey: #959595;
$subtle-grey: #CECECE;
$white: #FFFFFF;



